@import "react-variables";
.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

// .btn-primary {
//     background-color: $primary;
//     border-color: $primary;
// }
// .btn-primary:hover {
//     color: $primary;
//     background-color: $white;
//     border-color: $primary;
// }
// .btn.btn-outline-primary {
//     background: none;
//     color: $primary;
// }
// .btn.btn-primary-outline.active {
//     color: $primary;
// }
.is-invalid .css-1s2u09g-control {
    border-color: $danger;
}

.form-check-label {
    color: $gray-800;
}

.my-custom-react-select__menu {
    z-index: 2;
}

.Select.is-open {
    position: relative;
    z-index: 1000;
}

.my-custom-react-select__control {
    border-width: 1px !important;
    border-color: #cbd5e0 !important;
}

.my-custom-react-select__control--is-focused {
    border-color: #746df7 !important;
    box-shadow: none !important;
}

.my-custom-react-select__indicator-separator {
    display: none;
}

.toprightclose {
    padding: 3px 9px !important;
    background: $primary;
    border: $primary;
    color: $white;
    font-size: 16px;
    border-radius: 20px;
    padding: 0 5px;
    @media screen and (max-width: 767px) {
        right: -70px;
        top: -67px;
    }
    @media screen and (min-width: 768px) {
        right: -88px;
        top: -100px;
    }
}

.wh-118 {
    width: 118px !important;
    height: 118px !important;
}

.wh-40 {
    width: 40px !important;
    height: 40px !important;
}

.wh-32 {
    width: 32px !important;
    height: 32px !important;
}

.search .search-result {
    max-height: 210px !important;
    overflow-y: auto !important;
}

.box-image-cover a.client-detail {
    color: $themeTextColor;
    text-decoration: none;
    &:hover {
        color: $themePrimary;
    }
}

.box-image-cover a.supplier-detail {
    color: $themeTextColor;
    text-decoration: none;
    &:hover {
        color: $themePrimary;
    }
}

header {
    z-index: 1049 !important;
}

.drawer,
.full-screen-drawer {
    z-index: 1050 !important;
}

.hover-primary {
    &:hover {
        color: $themePrimary !important;
    }
}

.drawer-supplier-hr {
    color: $secondary;
    margin: 40px 0;
}

.text-decoration-dotted {
    text-decoration: underline dotted !important;
}

.addstaff-member ul {
    margin-top: 15px !important;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu,
    .table-responsive .dropdown-toggle {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

.service_table_header {
    vertical-align: middle;
}

.addstaff-member .input-file input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
}

.image-preview {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.table> :not(:first-child) {
    border-top: none;
}

.client_photo input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
}

.photoform {
    display: inline;
}

.react-datepicker-wrapper {
    width: auto !important;
}